.top-bar {
    background: var(--light-bg);
}

.top-bar .container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.sale-banner {
    width: 200px;
    color: var(--secondary);
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    overflow: hidden;
    border-radius: 4px;
    white-space: nowrap;
}

.sale-banner-text {
    display: inline-block;
    animation: scrollText 10s linear infinite;
    padding-left: 100%;
    color: var(--black);
    font-size: 16px;
}

@keyframes scrollText {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}


/*  */
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-actions {
    display: flex;
    gap: 20px;
    align-items: center;
}


.action-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    color: var(--text-color);

    svg {
        width: 25px;
        height: 25px;
        transition: 0.5s;
    }
}

.action-btn:hover {
    color: var(--primary);
}




.searchModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--white);
    border-radius: 4px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    z-index: 1110001;
    min-width: min(65vw, 90%, 100%);
    max-width: max(95vw, 80vw, 80%);
    padding: 0;
    display: flex;
    flex-direction: column;
}

.modalAnimation {
    animation: modalIn 0.2s;
}

@keyframes modalIn {
    from {
        opacity: 0;
        transform: translate(-50%, -90%);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

.searchModal .modal-content {
    padding: 3.5rem 1.5rem 1.5rem 1.5rem;
    position: relative;
}

.searchModal .close-modal {
    position: absolute;
    top: 0px !important;
    right: 15px;
    background: none;
    border: none;
    font-size: 2rem;
    color: var(--primary);
    cursor: pointer;
    z-index: 2;
}

.searchModal form {
    width: 100%;
    position: relative;
}

.searchModal form input {
    padding: 1rem;
    display: inline-block;
    width: 100%;
    outline: none;
    border: 2px solid var(--border-color);
    font-size: 1rem;
    font-family: var(--font-family);
    border-radius: 25px;
}

.searchModal form input:focus {
    border-color: var(--primary);
}

.searchModal form button {
    background-color: transparent;
    display: inline-block;
    outline: none;
    border: none;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
}

.searchModal .search-catergories {
    padding: 20px 0;
    display: inline-flex;
    gap: 10px;
    flex-wrap: wrap;

    a {
        color: var(--text-color);
    }
}

.search-history {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 200px;
    overflow-y: scroll;

    h3 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
        left: 0;
        background-color: var(--secondary);
        border-bottom: 1px solid var(--border-color);

        button {
            color: var(--color-danger);
            background-color: transparent;
            cursor: pointer;
            padding: 5px;
            font-family: var(--font-family);
            border: none;
            border-bottom: 1px solid;
        }

        button.disabled {
            cursor: not-allowed;
            opacity: 0.5;
        }
    }

    a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--text-color);
        transition: 0.5s ease-in-out;

        svg {
            width: 16px;
            height: 16px;
        }

        &:hover {
            color: var(--primary);
        }
    }

    &::-webkit-scrollbar {
        display: none;
    }

    .noSearchFound {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        visibility: hidden;
        opacity: 0;
        transition: 0.5s ease-in-out;

        svg {
            width: 100px;
            height: 100px;
        }
    }

    .noSearchFound.active {
        visibility: visible;
        opacity: 1;
    }
}