/* Canela Fonts (static OTF files) */
@font-face {
    font-family: 'Canela';
    src: url('../fonts/Canela/Canela-Thin-Trial.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Canela';
    src: url('../fonts/Canela/Canela-ThinItalic-Trial.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Canela';
    src: url('../fonts/Canela/Canela-Light-Trial.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Canela';
    src: url('../fonts/Canela/Canela-LightItalic-Trial.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Canela';
    src: url('../fonts/Canela/Canela-Regular-Trial.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Canela';
    src: url('../fonts/Canela/Canela-RegularItalic-Trial.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Canela';
    src: url('../fonts/Canela/Canela-Medium-Trial.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Canela';
    src: url('../fonts/Canela/Canela-MediumItalic-Trial.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Canela';
    src: url('../fonts/Canela/Canela-Bold-Trial.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Canela';
    src: url('../fonts/Canela/Canela-BoldItalic-Trial.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Canela';
    src: url('../fonts/Canela/Canela-Black-Trial.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Canela';
    src: url('../fonts/Canela/Canela-BlackItalic-Trial.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

/* Afacad Variable Font - Regular */
@font-face {
    font-family: 'Afacad';
    src: url('../fonts/Afacad/Afacad-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

/* Afacad Variable Font - Italic */
@font-face {
    font-family: 'Afacad';
    src: url('../fonts/Afacad/Afacad-Italic-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary: #E60028;
    --secondary: #4c9483;
    --light-bg: #e1f4eb;
    --white: #FFFFFF;
    --black: #000000;
    --text-color: #333333;
    --muted-color: #777777;
    --border-color: #e5e5e5;
    --light-bg: #e1f4eb;
    --light-grey: #f5f5f5;
    --shadow: 0px 2px 2px 0px rgba(0, 0, 66, 0.08), 0px 1px 5px 0px rgba(0, 0, 66, 0.08);
    --font-family: 'Afacad', sans-serif;
    --heading-font: 'Canela', serif;
}

body {
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 1.6;
    color: var(--text-color);
}

h1 {
    font-family: var(--heading-font);
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 10px;
}

svg {
    width: 20px;
    height: 20px;
}

