.login-wrapper {
    width: 100%;
    height: 100vh;
    background: url("../images/usables/hero_bg.png") center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 40%;
}

.login-wrapper .form {
    backdrop-filter: blur(20px);
    box-shadow: none;
    background: transparent;
    border: 1px solid var(--myadmin-border-color); 
}

.link-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-transform: capitalize;
    
    a {
        color: var(--myadmin-blue);
    }
}

.login-wrapper h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.recaptcha {
    height: 50px;
    border: 1px solid var(--myadmin-border-color);
    border-radius: var(--myadmin-border-radius);
}

